// abstract
@use "abstract/colors";
@use "abstract/mixins";
@use "abstract/variables";

// base
@use "base/resets";
@use "base/functions";
@use "base/typography";

// layout
@use "layout/header";
@use "layout/grid";
@use "layout/sidebar";

// pages
// @use "pages/";

// themes
// @use "themes/";

.container {
    display: grid;
    grid-template-columns: var(--navbar-width) 1fr;
    grid-template-rows: var(--layout-top-height) 1fr;

    @media (max-width: 800px) {
        & {
            grid-template-columns: 1fr;
            grid-template-rows: 10% 1fr;
            background-color: var(--clr-primary-100);
        }

        .sidebar-container {
            display: none;
        }
    }
}

body {
    @media (max-width: 800px) {
        background-color: var(--clr-primary-100);
    }

    .preloader-overlay {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .lds-facebook {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;

            & div {
                display: inline-block;
                position: absolute;
                left: 8px;
                width: 16px;
                background: var(--clr-primary-100);
                animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

                &:nth-child(1) {
                    left: 8px;
                    animation-delay: -0.24s;
                }
                &:nth-child(2) {
                    left: 32px;
                    animation-delay: -0.12s;
                }
                &:nth-child(3) {
                    left: 56px;
                    animation-delay: 0;
                }
            }
        }
    }
    // Code here
}

// Preloader Overlay

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}
