.main-container {
    // background-color: yellow;
    .grid {
        // border-top: 2px solid;
        // global
        background-color: var(--clr-secondary-100);
        // background-color: red;
        display: grid;

        @media (max-width: 800px) {
            background-color: var(--clr-white);
            padding: var(--padding-mobile-value);
        }
    }
}
