.main-container {
    // background-color: yellow;
    .grid {
        background-color: var(--clr-secondary-100);
        position: relative;
        display: grid;

        @media (max-width: 800px) {
            background-color: var(--clr-white);
            padding: var(--padding-mobile-value);
        }
    }
}
