.header-container {
    // border: 4px orange solid;

    .header {
        // border: 2px red solid;
        display: none;
        align-items: center;
        height: 100%;
        // all code here

        @media (max-width: 800px) {
            display: flex;
            &__mobile-version {
                align-items: center;
                padding: var(--padding-mobile-value) var(--padding-value);
                justify-content: space-between;
                display: flex;
                width: 100%;
                height: 100%;

                &__header-menu,
                &__side-menu {
                    border-radius: 50%;
                    width: 40px;
                    // Centering Purpose
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & > i > i {
                        color: white;
                    }
                }

                // activiy Center
                &__activity-center-container {
                    width: 40%;
                    height: 100%;
                    position: relative;

                    &__activity-center {
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.241);
                        top: 0;
                        left: 50%;
                        translate: -50%;
                        border-radius: var(--br-mid);
                        width: 100%;
                        height: 100%;

                        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                        // ::::::::::::::: here the top transition is working :::::::::::::::
                        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                        // :::        The reason this is needed is because you            :::
                        // ::: can't transition from a keyword, and the default value for :::
                        // ::: top is auto. So you have to spicify and give it a value as :::
                        // :::     i did here by setting it initial value as a 0**        :::
                        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

                        transition: width 0.5s, height 0.5s, background-color 0.2s, border-radius 0.5s, top 0.5s;

                        &.active {
                            background-color: var(--clr-primary-100);
                            // transition: top 2s ease 0s;
                            width: 200%;
                            height: 1000%;
                            border-radius: var(--br-lg);
                            top: 200%;
                        }
                    }
                }
            }
        }
    }
}

.monile-menu {
    display: none;
}

@media (max-width: 800px) {
    .monile-menu {
        position: absolute;
        width: 80%;
        background-color: white;
        padding: var(--padding-mobile-value);
        height: 100%;
        // Transition
        transition: left 250ms, right 250ms;
    }

    .header-menu-mobile {
        right: -100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px 0 0 10px;

        // code
        &__info {
            border-radius: 5px;

            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;

            &__img {
                display: flex;
                align-items: center;
                justify-content: center;

                & img {
                    border-radius: 50%;
                    width: 50%;
                    border: 3px var(--clr-primary-100) solid;
                }
            }

            &__details {
                text-align: center;
                border-radius: var(--br-mid);
                padding: 5px 0;

                &__name {
                    font-weight: 600;
                }

                &__id {
                    color: var(--clr-nutral-500);
                }
            }
        }

        &__list {
            margin-top: 10px;
            margin-bottom: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;

            & li {
                display: flex;
                align-items: center;

                & a {
                    background-color: var(--clr-secondary-100);
                    border-radius: 5px;
                    padding: var(--padding-value);
                    width: 100%;
                    height: 100%;

                    &:hover {
                        background-color: var(--clr-nutral-200);
                    }
                }
            }
        }

        &__signout {
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: var(--padding-value);
                border-radius: var(--br-sm);
                background-color: var(--clr-primary-100);
                color: white;

                & > i > i {
                    rotate: 180deg;
                }
            }
        }
    }

    .side-menu-mobile {
        display: flex;
        flex-direction: column;
        left: -100%;

        .sidebar__header {
            padding: var(--padding-mobile-value);
            border-bottom: 2px var(--clr-nutral-200) solid;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__icon-container {
                display: flex;
                height: 100%;
                align-items: center;

                &__icon {
                    background-color: var(--clr-primary-100);
                    font-size: 80%;
                    color: var(--clr-white);
                    border-radius: var(--br-mid);
                    height: var(--icon-container-d);
                    width: var(--icon-container-d);

                    // Centering Purpose
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &__title {
                    font-weight: 600;
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    font-size: 90%;
                }
            }
        }

        .sidebar__body {
            flex: 1;

            padding: var(--padding-value);
            display: flex;
            flex-direction: column;
            align-items: center;

            // body
            &__nav-links {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: auto;

                & li {
                    & a {
                        // background-color: var(--clr-nutral-200);
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        border-radius: var(--br-mid);

                        &:hover {
                            background-color: var(--clr-nutral-200);
                        }

                        & > i {
                            // border: 2px solid black;
                            width: var(--icon-container-d);
                            height: var(--icon-container-d);

                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        & span {
                            // background-color: red;
                            margin-right: auto;
                        }
                    }
                }

                &__elearning-menu {
                    display: none;
                    // height: 0 !important;
                    padding: 10px;
                    // background-color: orange;
                    padding-left: 20%;

                    & li {
                        // background-color: yellow;
                        border-left: 2px var(--clr-nutral-200) solid;
                        padding-left: 10px;

                        & a {
                            padding: 10px;
                            font-size: 80%;
                        }
                    }

                    &.active {
                        display: block;
                    }
                }
            }

            // activity center
        }
    }

    // extra

    .header-menu-mobile.active {
        right: 0;
        // display: ;
        box-shadow: var(--box-shadow), var(--box-shadow-ds);
    }

    .side-menu-mobile.active {
        box-shadow: var(--box-shadow), var(--box-shadow-ds);
        left: 0;
    }
}
