.header-container {
    // border: 4px orange solid;

    .header {
        // border: 2px red solid;
        display: none;
        align-items: center;
        height: 100%;
        // all code here

        @media (max-width: 800px) {
            display: flex;
            &__mobile-version {
                align-items: center;
                padding: var(--padding-mobile-value) var(--padding-value);
                justify-content: space-between;
                display: flex;
                width: 100%;
                height: 100%;

                &__header-menu,
                &__side-menu {
                    border-radius: 50%;
                    width: 40px;
                    // Centering Purpose
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & > i > i {
                        color: white;
                    }
                }

                // activiy Center
                &__activity-center-container {
                    // background-color: rebeccapurple;
                    z-index: 100;
                    width: 40%;
                    height: 100%;
                    position: relative;
                    // transition: all 500ms ease-in-out;

                    &__activity-center {
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.241);
                        top: 0;
                        left: 50%;
                        translate: -50%;
                        border-radius: var(--br-mid);
                        width: 100%;
                        height: 100%;
                        // background-color: red;

                        // // just for test
                        min-height: 0;
                        // overflow: hidden;

                        & > * {
                            display: none;
                        }

                        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                        // ::::::::::::::: here the top transition is working :::::::::::::::
                        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                        // :::        The reason this is needed is because you            :::
                        // ::: can't transition from a keyword, and the default value for :::
                        // ::: top is auto. So you have to spicify and give it a value as :::
                        // :::     i did here by setting it initial value as a 0**        :::
                        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

                        transition: width 0.5s, height 0.5s, background-color 0.2s, border-radius 0.5s, top 0.5s,
                            box-shadow 0.3s, min-height 0.5s;

                        // make the

                        &.active .header__mobile-version__activity-center-container__activity-center__header-container {
                            display: flex;
                            // border: 2px solid;
                            width: 100%;
                            height: fit-content;

                            align-items: center;
                            justify-content: center;
                            gap: 10px;

                            &__link {
                                // background-color: red;
                                width: 40px;
                                height: 40px;

                                & i {
                                    background-color: var(--clr-primary-100);
                                    border-radius: var(--br-mid);
                                    color: white;
                                    width: 100%;
                                    height: 100%;

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }

                        &.active .header__mobile-version__activity-center-container__activity-center__body-container {
                            // background-color: #999;
                            // height: 200px;

                            width: 100%;
                            height: 100%;
                            border-top: 2px solid rgb(190, 190, 190);
                            padding: 10px 0;
                            display: flex;
                            gap: 10px;
                            flex-direction: column;

                            &__files-uploaded-btn {
                                background-color: var(--clr-primary-100);
                                color: white;
                                outline: none;
                                text-align: center;
                                border: 0;
                                border-radius: var(--br-sm);
                                padding: 10px;
                            }

                            &__files-uploaded-container {
                                &__header {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 10px;
                                    cursor: pointer;
                                    user-select: none;
                                }

                                &__body {
                                    // border: red 2px solid;
                                    display: none;
                                    flex-direction: column;
                                    padding: 10px 0;
                                    // background-color: black;
                                    height: 0;

                                    &.active {
                                        height: auto;
                                        display: flex;
                                        transition: all 500ms;
                                    }

                                    & > ul {
                                        display: flex;
                                        flex-direction: column;
                                        // background-color: red;
                                        gap: 10px;

                                        & > li {
                                            background-color: var(--clr-white);
                                            padding: 10px;
                                            border-radius: var(--br-sm);
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;

                                            & > .controls {
                                                display: flex;
                                                gap: 5px;
                                                // height: 100%;
                                                // aspect-ratio: 1/1;

                                                & > i {
                                                    background-color: var(--clr-secondary-100);
                                                    padding: 2px 5px;
                                                    border-radius: var(--br-sm);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.active {
                            background-color: var(--clr-secondary-100);
                            // overflow: scroll;
                            // background-color: #f2f2ff;
                            // box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                            // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                            // border: 2px var(--clr-primary-100) solid;
                            border: 2px #5350f754 solid;
                            width: 220%;
                            gap: 20px;
                            height: auto;
                            min-height: 200px;
                            padding: 10px;
                            border-radius: var(--br-lg);
                            top: 200%;

                            display: flex;
                            flex-direction: column;
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}

.monile-menu {
    display: none;
}

@media (max-width: 800px) {
    .monile-menu {
        position: absolute;
        width: 80%;
        background-color: white;
        padding: var(--padding-mobile-value);
        height: 100%;
        // Transition
        transition: left 250ms, right 250ms;
        z-index: 200;
    }

    .header-menu-mobile {
        right: -100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px 0 0 10px;

        // code
        &__info {
            // border-radius: 5px;

            display: flex;
            // 0000000000000000000000000000000000000000000
            // 0000000000000000 Version 1 0000000000000000
            // 0000000000000000000000000000000000000000000

            padding: 10px;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            background-color: var(--clr-secondary-100);
            border-radius: 10px;

            &__img {
                width: 40%;
                & img {
                    border-radius: 50%;
                    width: 100%;
                    border: var(--clr-primary-100) 2px solid;
                }
            }

            &__details {
                border-radius: 10px;
                padding: 10px;
                width: 100%;

                &__name {
                    font-weight: 600;
                }

                &__id {
                    color: var(--clr-nutral-500);
                }
            }

            // 0000000000000000000000000000000000000000000
            // 0000000000000000 Version 2 0000000000000000
            // 0000000000000000000000000000000000000000000

            // flex-direction: column;
            // justify-content: center;
            // gap: 10px;

            // &__img {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;

            //     & img {
            //         border-radius: 50%;
            //         width: 50%;
            //         border: 3px var(--clr-primary-100) solid;
            //     }
            // }

            // &__details {
            //     text-align: center;
            //     border-radius: var(--br-mid);
            //     padding: 5px 0;

            //     &__name {
            //         font-weight: 600;
            //     }

            //     &__id {
            //         color: var(--clr-nutral-500);
            //     }
            // }

            // 000000000000000000 End 0000000000000000000000000
        }

        &__list {
            border-top: 2px solid var(--clr-nutral-200);
            padding-top: 10px;
            margin-top: 10px;
            margin-bottom: auto;
            display: flex;
            flex-direction: column;

            & li {
                display: flex;
                align-items: center;

                & a {
                    & > i {
                        width: var(--icon-container-d);
                        height: var(--icon-container-d);

                        display: inline-block;
                        text-align: center;
                        line-height: var(--icon-container-d);
                    }
                    border-radius: 5px;
                    // padding: var(--padding-value);
                    // padding: 5px 10px;
                    width: 100%;
                    // background-color: red;
                    height: 100%;

                    &:hover {
                        background-color: var(--clr-nutral-200);
                    }
                }
            }
        }

        &__signout {
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: var(--padding-value);
                border-radius: var(--br-sm);
                background-color: var(--clr-primary-100);
                color: white;

                & > i > i {
                    rotate: 180deg;
                }
            }
        }

        &__activity-center {
            background-color: red;
        }
    }

    .side-menu-mobile {
        display: flex;
        flex-direction: column;
        left: -100%;

        .sidebar__header {
            padding: var(--padding-mobile-value);
            border-bottom: 2px var(--clr-nutral-200) solid;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__icon-container {
                display: flex;
                height: 100%;
                align-items: center;

                &__icon {
                    background-color: var(--clr-primary-100);
                    font-size: 80%;
                    color: var(--clr-white);
                    border-radius: var(--br-mid);
                    height: var(--icon-container-d);
                    width: var(--icon-container-d);

                    // Centering Purpose
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &__title {
                    font-weight: 600;
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    font-size: 90%;
                }
            }
        }

        .sidebar__body {
            flex: 1;

            padding: var(--padding-value);
            display: flex;
            flex-direction: column;
            align-items: center;

            // body
            &__nav-links {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: auto;

                & li {
                    & a {
                        // background-color: var(--clr-nutral-200);
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        border-radius: var(--br-mid);

                        &:hover {
                            background-color: var(--clr-nutral-200);
                        }

                        & > i {
                            // border: 2px solid black;
                            width: var(--icon-container-d);
                            height: var(--icon-container-d);

                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        & span {
                            // background-color: red;
                            margin-right: auto;
                        }
                    }
                }

                &__elearning-menu {
                    display: none;
                    // height: 0 !important;
                    padding: 10px;
                    // background-color: orange;
                    padding-left: 20%;

                    & li {
                        // background-color: yellow;
                        border-left: 2px var(--clr-nutral-200) solid;
                        padding-left: 10px;

                        & a {
                            padding: 10px;
                            font-size: 80%;
                        }
                    }

                    &.active {
                        display: block;
                    }
                }
            }

            // activity center
        }
    }

    // extra

    .header-menu-mobile.active {
        right: 0;
        box-shadow: var(--box-shadow), var(--box-shadow-ds);
    }

    .side-menu-mobile.active {
        box-shadow: var(--box-shadow), var(--box-shadow-ds);
        left: 0;
    }
}
