.sidebar-container {
    // global changes
    grid-column: 1/2;
    grid-row: 1/-1;

    .sidebar {
        //global styles here
        background-color: var(--clr-white);

        // responsive design
    }
}
