// includes
// @forward "../abstract/mixins";

.sidebar-container {
    // global changes
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;

    // :::::::::::: Sidebar header ::::::::::::
    .sidebar {
        //global styles here
        // background-color: var(--clr-white);

        display: flex;
        flex-direction: column;
        // height: 100%;
        // border-right: 2px var(--clr-nutral-200) solid;

        &__header {
            padding: var(--padding-value);
            // border: 1px red solid;
            border-bottom: 2px var(--clr-nutral-200) solid;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--layout-top-height);

            &__icon-container {
                // border: 1px red solid;
                display: flex;
                // width: 80%;

                height: 100%;

                &__icon {
                    background-color: var(--clr-primary-100);
                    font-size: 50%;
                    color: var(--clr-white);
                    border-radius: var(--br-sm);
                    aspect-ratio: 1/1;
                    // min-height: 36px;
                    // width: 36px;
                    height: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &__title {
                    font-size: 80%;
                    // to make it responsive within the padding value
                    // font-size: min(80%, calc(var(--padding-value) + 5px));
                    // font-size: 100%;
                    // overflow: hidden;
                    font-weight: 600;

                    // test
                    // display: none;
                    // margin: 0 40px 0 auto;
                    margin-left: 10px;
                    // margin-right: auto;
                }
            }

            &__toggle {
                // border: 1px green solid;
                background-color: var(--clr-nutral-200);
                border-radius: var(--br-sm);
                aspect-ratio: 1/1;
                height: 100%;
                // min-height: 36px;

                cursor: pointer;

                & i {
                    // width: var(--dimintions);
                    // height: var(--dimintions);

                    width: 100%;
                    height: 100%;

                    // replace with mixin
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // @include fcenter;
                }
            }
        }

        // :::::::::::: Sidebar body ::::::::::::
        &__body {
            // border: 1px blue solid;
            // height: 100%;
            flex: 1;

            padding: var(--padding-value);
            display: flex;
            flex-direction: column;
            align-items: center;

            // body
            &__nav-links {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: auto;

                & li {
                    & a {
                        // background-color: var(--clr-nutral-200);
                        // padding: var(--padding-btn) calc(var(--padding-btn) / 2);
                        // padding: 10px;
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        border-radius: var(--br-mid);

                        &:hover {
                            background-color: var(--clr-nutral-200);
                        }

                        & > i {
                            // background-color: black;
                            // background-color: ;
                            // border: 2px solid black;
                            width: var(--icon-container-d);
                            height: var(--icon-container-d);

                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        & span {
                            // background-color: red;
                            margin-right: auto;
                        }
                    }
                }

                &__elearning-menu,
                &__semesterwork-menu {
                    display: none;
                    // height: 0 !important;
                    padding: 10px;
                    // background-color: orange;
                    padding-left: 20%;

                    & li {
                        // background-color: yellow;
                        border-left: 2px var(--clr-nutral-200) solid;
                        padding-left: 10px;

                        & a {
                            padding: 10px;
                            font-size: 80%;
                        }
                    }

                    &.active {
                        display: block;
                    }
                }
            }

            // activity center
            &__activity-center-container {
                width: 80%;
                aspect-ratio: 4/3;
                // border: 1px red solid;

                &__activity-center {
                    height: 100%;
                    background-color: var(--clr-primary-100);
                    // border-radius: var(--br-mid);
                    border-radius: var(--br-lg);
                    cursor: pointer;
                }
            }
        }
        // responsive design
    }
}

// Extra Classes

.rotate {
    rotate: 180deg;
}

.activity-center {
    top: -100%;
    left: 50%;
    translate: -50% -50%;
}

.activity-center.active {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    // left: 50%;
    // translate: -50% -50%;
    background-color: var(--clr-primary-100);
    padding: 10px;
    color: white;
    border-radius: var(--br-mid);
    // box-shadow: 0 0 0 1000px rgba(0 0 0 / 0.9);
    box-shadow: 0 0 0 10000px rgba(0 0 0 / 0.9);

    // transition: top 500ms ease, box-shadow 0ms ease;
    transition: top 500ms ease;
    // user-select: none;
}
