* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
.container,
.header,
.sidebar,
.main-container,
.main {
    height: 100%;
}

*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
