@use "sass:math";

$breakpoint-up: (
    "md": 20px,
    "lg": 20px,
    "xlg": 20px,
);

@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoint-up, $value)) {
        @content; //style content
    }
}


// fix this problem
@mixin fcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

// @include fcenter;
// @function rem($pixel) {
//     @return math.div($pixel, 16);
// }
