:root {
    /* measure values */
    --dimintions: 20px;
    --padding-value: 1rem;
    --border-raduis: 10px;
    --box-shadow: 0 0 10px 2px rgba(0 0 0 / 0.2);

    /* responice */
    --navbar-width: 250px; /* +animation on width change*/
    --layout-top-height: 60px;
}
